body{
	background-image: url("background2.jpg");
}
.mess{
	background-color: BlanchedAlmond;
	width: 800px;
	border: solid BurlyWood;
	text-align: center;
	padding-top: 80px;
	padding-bottom: 80px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
	position: relative;
	border-radius: 15px;

}
#rocky{
	height: 300px;
	position: absolute;
	right: 380px;
}
#rochie{
	position: absolute;
	right: 300px;
	top: 50px;
}
#huy{
	position: absolute;
	left: 80px;
}
h1{
	font-family: "Times New Roman", Times, serif;
	font-size: 50px;
	color: LightGreen;
}
@media only screen and (max-width: 1000px){
	.mess{
		width: 300px;
	}
	h1{
		font-size: 25px;
	}
	#rochie{
		width: 200px;
		right: 50px;
	}
	#rocky{
		height: 200px;
		right: 50px;
	}
	#huy{
		width: 300px;
		left: 0px;
	}
}